body{
  margin: 0px;
  padding: 0 auto;
  background-image: url('../assets/img/Mesh\ Gradient.png');
  background-size: cover;
}
/* Style the tab */
.tab {
  float: left;
  background-color: #f1f1f1;
  width: 20%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: auto;
  background: linear-gradient(
    130.49deg, rgb(255 255 255) 26.97%, rgb(73 248 248 / 25%) 100%);
  filter: drop-shadow(4px 10px 40px rgba(0, 0, 0, 0.1));
  backdrop-filter: blur(100px);
}
/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}
/* Create an active/current "tab button" class */
.tab button.active {
  color:#008AC5;
  ;
}
/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  width: 80%;
  border-left: none;
  height: 300px;
}
/* logo section */
.logo{
  width: 100%;
  float: left;
}
.logo img{
  float: left;
  margin-left: 123px;
  margin-top: 35px;
}
#Exchange{
  width: 150px;
  margin-left: 69px;
  margin-top: 22px;
  margin-bottom: 50px;
  float: left;
 padding: 10px 20px;
  text-align: center;
  color: #FFFFFF;
  background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%), radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #008AC5;
  box-shadow: 4px 8px 30px rgba(0, 138, 197, 0.3);
  border-radius: 10px;
}
/* Style the h6 content */
.menu{
  width: 100%;
  float: left;
}
#Main{
  font-family: Chivo;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  height: 29px;
  width: 128px;
  margin-left: 36px;
  margin-top: 24px;
  color: #777777;
}
/* svg icon */
svg {
  margin-left: 17px;
  margin-right: 15px;
}
/* NAVBAR SECTION */
.dropbtn {
  background: none;
  color: #008AC5;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
/* .dropbtn:hover{
  border-bottom: 3px solid #008AC5;
  transition: .5s;
} */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 213px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {color: #008AC5}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
#George{
  color: #777777;
  font-family: Roboto;    
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  margin-left: 10px;
}
#nav_img{
  margin-left: 10px;
}
.bg-light {
  background: linear-gradient(109.88deg, #ffffffa2 0%, rgba(126, 240, 230, 0.166) 100%);
filter: drop-shadow(4px 10px 40px rgba(0, 0, 0, 0.1));
backdrop-filter: blur(100px);
}
/* Change the background color of the dropdown button when the dropdown content is shown */
th {
  background: radial-gradient(92.09% 85.42% at 86.3% 87.5%, rgba(0, 0, 0, 0.23) 0%, rgba(0, 0, 0, 0) 86.18%), radial-gradient(65.28% 65.28% at 26.39% 20.83%, rgba(255, 255, 255, 0.413) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%), #008AC5;
  box-shadow: 4px 8px 30px rgba(0, 138, 197, 0.3);
  width: 50px!important;
}
a.dataTable-sorter {
  font-size: 10px;
  text-align: center;
  color: white;
} 
tr,td ,th{
  border: 1px solid #0086c0;
}
td {
  font-size: 10px;
}
.table_1 {
  width: 95%;
  height: auto;
  border-radius: 20px;
  float: left;
  margin-top: 10px;
}
/* GRAPH SECTION START*/
.graph{
  width: 100%;
  float: left;
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
}
/* GRAPH SECTION END*/
/* buy_Sell start */
.buy_Sell{
  width: 100%;
  float: left;
  background: white;
  margin-top: 20px;
  border-radius: 20px;
}
.tabs {
  display: flex;
  list-style: none;
}
.tabs li {
  display: block;
  width: 50%;
  color: #008AC5;
  font-family: Chivo;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  padding: 15px 35px;
  font-size: 17px;
}
.tabs li.active,
.tabs li:hover {
  background-color: #fff;
  border: none;
  border-bottom: 2px solid #1db9c3;
  transition: 0.1s;
}

.buy_Sell .content .profile,
.buy_Sell .content .settings,
.buy_Sell .content .about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.buy_Sell .content > div:not(.visible) {
  display: none;
}
.buy_Sell .content h3 {
  margin: 15px 0;
}
.buy_Sell .content .profile img {
  border-radius: 75px;
  margin-bottom: 25px;
}
.buy_Sell .content .profile table {
  margin-bottom: 35px;
  width: 80%;
}
.buy_Sell .content table td {
  padding: 7px 0;
  font-weight: 300;
  width: 180px;
}
.buy_Sell .content .profile table td.title {
  font-weight: bold;
}
.buy_Sell .content .profile table td:not(.title) {
  text-align: center;
}
.buy_Sell .content .settings input:not([type="submit"]):not([type="reset"]) {
  padding: 3px 10px;
  outline: none;
  width: 100%;
}
.buy_Sell .content hr {
  width: 100%;
  margin: 25px 0 25px;
  height: 2px;
  background-color: #1db9c3;
}
.buy_Sell button,
input[type="submit"],
input[type="reset"] {
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}
.buy_Sell button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  letter-spacing: 1.1px;
  transition: 0.4s;
}
.buy_Sell .primary {
  background-color: #00a19d;
}
.buy_Sell .danger {
  background-color: #b61919;
  color: #fff;
}
.buy_Sell .secondary {
  background-color: #ddd;
}
.buy_Sell .content .settings td {
  padding: 7px 0;
}
.buy_Sell .content p {
  padding: 50px;
  line-height: 1.5;
  text-align: center;
  font-size: 18px;
}
   input{
  background: #FFFFFF;
  border: 1px solid #4DADD6;
  box-sizing: border-box;
  width: 80%;
  border-radius: 10px;
  padding: 5px 10px ;
} 
label{
  float: left;
}
/* buy_Sell end */
